<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.solusinganggur">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the "MyLocation" functionality.
    -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SolusiNganggur">
        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <!--
            Auth Layout
        -->
        <activity android:name=".SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".IntroSatuActivity" />
        <activity android:name=".IntroDuaActivity" />
        <activity android:name=".PilihRoleActivity" />
        <activity android:name=".DaftarPencariKerjaActivity" />
        <activity android:name=".DaftarPerusahaanActivity" />
        <activity android:name=".Login" />
        <activity android:name=".LupaPasswordActivity" />
        <activity android:name=".KonfirmasiUbahPasswordActivity" />
        <activity android:name=".UbahPasswordActivity" />
        <activity android:name=".NotifPasswordDiubahActivity" />
        <activity android:name=".after_registration" />

        <!--
            Layout Role Pelamar
        -->
        <activity android:name=".MenuActivity" />
        <activity android:name=".NotifPelamarActivity" />
        <activity android:name=".DashboardAccActivity" />
        <activity android:name=".DashboardPendingActivity" />
        <activity android:name=".DashboardRejectedActivity" />
        <activity android:name=".EditProfileActivity" />

        <!--
            Layout Role Perusahaan
        -->
        <activity android:name=".AddLowonganActivity" />

        <!--
            Layout All User
        -->
        <activity android:name=".MessageActivity" />
        <activity android:name=".Message6Activity" />
        <activity android:name=".BantuanActivity" />
        <activity android:name=".InfoAplikasiActivity" />
        <activity android:name=".KontakKamiActivity" />

    </application>

</manifest>